global:
  scrape_interval:     {{ duckprom_prometheus_scrape_interval }}
  evaluation_interval: {{ duckprom_prometheus_evaluation_interval }}

  # # Attach these labels to any time series or alerts when communicating with
  # # external systems (federation, remote storage, Alertmanager).
  # external_labels:
  #     monitor: 'docker-host-alpha'

# # Load and evaluate rules in this file every 'evaluation_interval' seconds.
# rule_files:
#   - "alert.rules"

scrape_config_files:
  - duckprom.yaml
  - custom.yaml
